$total-columns  : 4;             // a 12-column grid
$column-width   : 20%;            // each column is 4em wide
$gutter-width   : 10%;            // 1em gutters between columns
$grid-padding   : 0;  // grid-padding equal to gutters

body {
  @include container;
}

header[role="banner"] {
  text-align:left;
  @include clearfix;
  padding: rhythm(0.5) rhythm(1);

  h1 {
    @include span-columns(6, 12);
    @include adjust-font-size-to(16px);
    font-weight: normal;
  }

  #primary-nav {
    text-align:right;
    @include span-columns(6 omega, 12);

    nav {
      float:right;
      margin-right: 1em;
    }
  }

  #search {
    margin:0;
    float:right;
  }
}

div[role="main"] {
  padding:0;

  @include clearfix;

  .browse & {
    .dublin-core-coverage {
      width: 50%;
      float:right;
    }

    .item-metadata {
      margin-left: rhythm(1);
    }

    .item {
      padding-bottom: rhythm(1);
      border-bottom: 1px dotted $default-color-lightest;

      @include clearfix;
    }
  }
}

#primary {
  @include span-columns(6, 12);
  padding: rhythm(1);

  .browse & {
    @include span-columns(12,12);
  }
}

#secondary{
  @include span-columns(6 omega, 12);

  #dublin-core-coverage {
    height: 100%;
    max-height: 100%;
  }
}

footer[role="contentinfo"] {
  clear:both;
  text-align:left;

  nav {
    @include span-columns(6, 12);
  }

  .credits {
    margin:0;
    @include span-columns(6 omega, 12);
  }
}
